.ComponentePrincipal {
  background-color: #fff;
  display: flex;
  max-width: 720px;
  max-height: 1280px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 26px 0 80px;
}

.Texto {
  font-family: Inter, sans-serif;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  color: black;
}

.BarraSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 0px 20px 7px;
}

.MenuHamburguesa {
  width: 27px;
  object-fit: contain;
}

.WangoLogoTiny {
  width: 121px;
  max-width: 100%;
  object-fit: contain;
}

.ContentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 72px;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
}

.ItemsMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.Item {
  width: 76px;
  max-width: 100%;
  object-fit: contain;
}

.Item.small {
  width: 50px;
}
